# parse tbl out from HMM hits output

In [ ]:
HMM_SEARCH_OUT = "/Users/daffa/Documents/Work/jspp67_bioinf/results/hmm_homology/prpF_KT2440_magnoliopsida/prpF_KT2440_magnoliopsida-06-results.tbl"

# kegg scraping (pre LLM-planning)

In [6]:
import pandas as pd
from pathlib import Path

In [2]:
string = """
8071409
K01649 2-isopropylmalate synthase [EC:2.3.3.13] | (RefSeq) 2-isopropylmalate synthase A
8057865
K01641 hydroxymethylglutaryl-CoA synthase [EC:2.3.3.10] | (RefSeq) hydroxymethylglutaryl-CoA synthase isoform X1
8085635
K01649 2-isopropylmalate synthase [EC:2.3.3.13] | (RefSeq) 2-isopropylmalate synthase A
8073811
K01647 citrate synthase [EC:2.3.3.1] | (RefSeq) citrate synthase, glyoxysomal isoform X1
8077981
K01641 hydroxymethylglutaryl-CoA synthase [EC:2.3.3.10] | (RefSeq) hydroxymethylglutaryl-CoA synthase
110433071
K01641 hydroxymethylglutaryl-CoA synthase [EC:2.3.3.10] | (RefSeq) hydroxymethylglutaryl-CoA synthase-like
8071625
K01647 citrate synthase [EC:2.3.3.1] | (RefSeq) citrate synthase 4, mitochondrial
"""

In [3]:
def kegg_str_to_df(string):
    lines = [line for line in string.split('\n') if line.strip()]
    list_gene = [lines[i] for i in range(0, len(lines), 2)]
    list_annot = [lines[i] for i in range(1, len(lines), 2)]
    d = {"geneID": list_gene, "annotation": list_annot}    
    return pd.DataFrame(data=d)

In [4]:
kegg_str_to_df(string)

      geneID                                         annotation
0    8071409  K01649 2-isopropylmalate synthase [EC:2.3.3.13...
1    8057865  K01641 hydroxymethylglutaryl-CoA synthase [EC:...
2    8085635  K01649 2-isopropylmalate synthase [EC:2.3.3.13...
3    8073811  K01647 citrate synthase [EC:2.3.3.1] | (RefSeq...
4    8077981  K01641 hydroxymethylglutaryl-CoA synthase [EC:...
5  110433071  K01641 hydroxymethylglutaryl-CoA synthase [EC:...
6    8071625  K01647 citrate synthase [EC:2.3.3.1] | (RefSeq...

In [ ]:
KEGG_DIR = 'data/reference/KEGG'

## Extract Sorghum genes from KEGG pathway map00660
Parse KEGG FTP `.list` files to get all *Sorghum bicolor* genes in pathway **map00660** (C5-Branched dibasic acid metabolism), enriched with KO, NCBI Gene ID, and NCBI Protein ID.

In [3]:
from pathlib import Path
import pandas as pd

def parse_kegg_list(filepath, col_names=('source', 'target')):
    """Parse a KEGG two-column tab-separated .list file into a DataFrame.
    Strips namespace prefixes (e.g., 'sbi:', 'ko:', 'path:')."""
    df = pd.read_csv(filepath, sep='\t', header=None, names=col_names)
    for col in df.columns:
        df[col] = df[col].str.split(':', n=1).str[1]
    return df

In [4]:
PATHWAY = 'map00660'
ORGANISM = 'sbi'
KEGG_DIR = Path('data/reference/KEGG')

# 1. Get sorghum genes in pathway sbi00660
sbi_pathway = parse_kegg_list(KEGG_DIR / ORGANISM / f'{ORGANISM}_pathway.list', ('gene', 'pathway'))
pathway_id = PATHWAY.replace('map', ORGANISM)  # map00660 -> sbi00660
genes_in_pathway = sbi_pathway[sbi_pathway['pathway'] == pathway_id][['gene']].copy()
print(f"Found {len(genes_in_pathway)} {ORGANISM} genes in pathway {pathway_id}")
genes_in_pathway

Found 6 sbi genes in pathway sbi00660

         gene
3407  8055065
3408  8055458
3409  8056085
3410  8056510
3411  8073966
3412  8076795

In [5]:
# 2. Enrich with KO ortholog assignments
sbi_ko = parse_kegg_list(KEGG_DIR / ORGANISM / f'{ORGANISM}_ko.list', ('gene', 'ko'))
genes_in_pathway = genes_in_pathway.merge(sbi_ko, on='gene', how='left')

# 3. Enrich with NCBI Gene IDs
sbi_geneid = parse_kegg_list(KEGG_DIR / ORGANISM / f'{ORGANISM}_ncbi-geneid.list', ('gene', 'ncbi_geneid'))
genes_in_pathway = genes_in_pathway.merge(sbi_geneid, on='gene', how='left')

# 4. Enrich with NCBI Protein accessions
sbi_protid = parse_kegg_list(KEGG_DIR / ORGANISM / f'{ORGANISM}_ncbi-proteinid.list', ('gene', 'ncbi_proteinid'))
genes_in_pathway = genes_in_pathway.merge(sbi_protid, on='gene', how='left')

print(f"Final table: {len(genes_in_pathway)} rows x {len(genes_in_pathway.columns)} columns")
genes_in_pathway

Final table: 6 rows x 4 columns

      gene      ko ncbi_geneid ncbi_proteinid
0  8055065  K01703     8055065   XP_002453237
1  8055458  K00052     8055458   XP_002447363
2  8056085  K01652     8056085   XP_021315526
3  8056510  K01653     8056510   XP_002452423
4  8073966  K01704     8073966   XP_002452816
5  8076795  K01653     8076795   XP_002449227

In [10]:
# 5. Save to TSV
output_dir = Path('results/kegg')
output_dir.mkdir(parents=True, exist_ok=True)
output_path = output_dir / f'{ORGANISM}_{PATHWAY}_genes.tsv'
genes_in_pathway.to_csv(output_path, sep='\t', index=False)
print(f"Saved to {output_path}")

Saved to results/kegg/sbi_map00660_genes.tsv

In [22]:
def parse_input_file(file):
    """
    read pathway gene file
    output df that contains sp:gene -delimiter- accessionID
    """
    with open(file, 'r') as path_gene_f:
        lines = path_gene_f.readlines()
        lines.remove('species\tgene\tko\tncbi_geneid\tncbi_proteinid\n') # remove header the hard way
        sp_gene_col = []
        acc_col =[]
        for line in lines:
            # split tabs
            sp = line.split('\t')[0]
            geneid = line.split('\t')[1]
            kegg_ortho = line.split('\t')[2]
            prot_acc = line.split('\t')[3]
            # assign to prev defined list, then eventually dataframe
            sp_gene_col.append(':'.join((sp, geneid)))
            acc_col.append(prot_acc)

        d = {"gene": sp_gene_col, "accession":acc_col}
        df = pd.DataFrame(data=d)
    return df

In [23]:
sbi_map00660 = parse_input_file('/Users/daffa/Documents/Work/jspp67_bioinf/results/kegg/sbi_map00660_genes.tsv')

In [24]:
sbi_map00660

          gene accession
0  sbi:8055065   8055065
1  sbi:8055458   8055458
2  sbi:8056085   8056085
3  sbi:8056510   8056510
4  sbi:8073966   8073966
5  sbi:8076795   8076795

## separate by gene ID

In [50]:
def parse_input_file(file):
    """
    read pathway gene file
    outputs df that contains sp:gene -delimiter- accessionID
    """
    df = pd.read_csv(file, sep='\t')
    return df

def separate_by_orthology(df):
    """
    Group DataFrame by ko column.
    Returns dict[str, pd.DataFrame] e.g. {"K01703": sub_df, ...}
    Rows with NaN ko are dropped.
    """
    df_clean = df.dropna(subset=['ko'])
    return {ko: sub_df.reset_index(drop=True) for ko, sub_df in df_clean.groupby('ko')}

def save_outfile_as_gene_name(sub_df, output_path):
    """
    Save a KO sub-DataFrame as a TSV file.
    Creates parent directories if they don't exist.
    """
    output_path = Path(output_path)
    output_path.parent.mkdir(parents=True, exist_ok=True)
    sub_df.to_csv(output_path, sep='\t', index=False)

In [53]:
df = parse_input_file("/Users/daffa/Documents/Work/jspp67_bioinf/results/kegg/ath-zma_map00020_genes.tsv")

In [54]:
separate_by_orthology(df)

{'K00025':   species       gene  ncbi_geneid      ko ncbi_proteinid
 0     ath  AT1G04410       839527  K00025      NP_171936
 1     ath  AT5G43330       834351  K00025      NP_199147
 2     ath  AT5G56720       835773  K00025      NP_200483
 3     zma  100280767    100280767  K00025   NP_001147160
 4     zma  103633793    103633793  K00025   XP_023156449
 5     zma  103648465    103648465  K00025   XP_020403782
 6     zma     542598       542598  K00025   NP_001105603,
 'K00026':    species       gene  ncbi_geneid      ko ncbi_proteinid
 0      ath  AT1G53240       841757  K00026      NP_564625
 1      ath  AT2G22780       816808  K00026      NP_179863
 2      ath  AT3G15020       820731  K00026      NP_188120
 3      ath  AT3G47520       823906  K00026      NP_190336
 4      ath  AT5G09660       830825  K00026      NP_196528
 5      zma  100193491    100193491  K00026   NP_001132077
 6      zma  100193663    100193663  K00026   NP_001132228
 7      zma  100193743    100193743  K00026   NP_001132302
 8      zma  100272900    100272900  K00026   NP_001140825
 9      zma  100273428    100273428  K00026   NP_001141337
 10     zma  100274264    100274264  K00026   NP_001142100
 11     zma  100282134    100282134  K00026   NP_001148518
 12     zma  107305678    107305678  K00026   NP_001307728,
 'K00030':    species       gene  ncbi_geneid      ko ncbi_proteinid
 0      ath  AT1G32480       840142  K00030      NP_174526
 1      ath  AT2G17130       816218  K00030      NP_179304
 2      ath  AT3G09810       820139  K00030      NP_850549
 3      ath  AT4G35260       829679  K00030      NP_195252
 4      ath  AT4G35650       829717  K00030      NP_195290
 5      ath  AT5G03290       831884  K00030      NP_568113
 6      zma  100191841    100191841  K00030   NP_001130737
 7      zma  100272953    100272953  K00030   NP_001140877
 8      zma  100274026    100274026  K00030   NP_001141883
 9      zma  100283574    100283574  K00030   NP_001149947
 10     zma     542698       542698  K00030   NP_001295422,
 'K00031':   species       gene  ncbi_geneid      ko ncbi_proteinid
 0     ath  AT1G54340       841875  K00031      NP_175836
 1     ath  AT1G65930       842905  K00031      NP_176768
 2     ath  AT5G14590       831311  K00031      NP_196963
 3     zma  100191657    100191657  K00031   NP_001130558
 4     zma  100217128    100217128  K00031   NP_001136968
 5     zma  100272371    100272371  K00031   NP_001140324
 6     zma  100274592    100274592  K00031   NP_001142417
 7     zma  103633296    103633296  K00031   XP_008653231,
 'K00161':   species       gene  ncbi_geneid      ko ncbi_proteinid
 0     ath  AT1G01090       839429  K00161      NP_171617
 1     ath  AT1G24180       839031  K00161      NP_173828
 2     ath  AT1G59900       842284  K00161      NP_176198
 3     zma  100272256    100272256  K00161   NP_001140222
 4     zma  100272834    100272834  K00161   NP_001140759
 5     zma  100283889    100283889  K00161   NP_001150259
 6     zma     732791       732791  K00161   NP_001295433,
 'K00162':   species       gene  ncbi_geneid      ko ncbi_proteinid
 0     ath  AT1G30120       839891  K00162      NP_174304
 1     ath  AT2G34590       818024  K00162      NP_181006
 2     ath  AT5G50850       835157  K00162      NP_199898
 3     zma  100282233    100282233  K00162   NP_001148617
 4     zma  100284103    100284103  K00162   NP_001150473
 5     zma     541705       541705  K00162   NP_001104914
 6     zma     542483       542483  K00162   NP_001105506
 7     zma     542607       542607  K00162   NP_001105611,
 'K00164':   species       gene  ncbi_geneid      ko ncbi_proteinid
 0     ath  AT3G55410       824707  K00164   NP_001327477
 1     ath  AT5G65750       836704  K00164      NP_201376
 2     zma  100383412    100383412  K00164   NP_001169536
 3     zma  100383579    100383579  K00164   NP_001169698
 4     zma  100383847    100383847  K00164   NP_001349094,
 'K00234':   species       gene  ncbi_geneid      ko ncbi_proteinid
 0     ath  AT2G18450       816359  K00234      NP_179435
 1     ath  AT5G66760       836809  K00234      NP_201477
 2     zma  100279930    100279930  K00234   NP_001146352
 3     zma  100280324    100280324  K00234   NP_001146722,
 'K00235':   species       gene  ncbi_geneid      ko ncbi_proteinid
 0     ath  AT3G27380       822359  K00235      NP_189374
 1     ath  AT5G40650       834065  K00235      NP_198881
 2     ath  AT5G65165       836640  K00235      NP_680465
 3     zma  100216648    100216648  K00235   NP_001136531
 4     zma  100502233    100502233  K00235   NP_001183639
 5     zma  103653238    103653238  K00235   XP_020398754
 6     zma  109944584    109944584  K00235   XP_020404944
 7     zma  115874042    115874042  K00235   NP_001362686,
 'K00236':   species       gene  ncbi_geneid      ko ncbi_proteinid
 0     ath  AT4G32210      3770570  K00236      NP_194948
 1     ath  AT5G09600       830819  K00236      NP_196522
 2     zma  100281355    100281355  K00236   NP_001354929
 3     zma  100283351    100283351  K00236   NP_001149724,
 'K00382':   species       gene  ncbi_geneid      ko ncbi_proteinid
 0     ath  AT1G48030       841221  K00382   NP_001322049
 1     ath  AT3G16950       820951  K00382   NP_001078165
 2     ath  AT3G17240       820984  K00382      NP_851005
 3     ath  AT4G16155       827307  K00382      NP_567487
 4     zma  100381818    100381818  K00382   NP_001168084
 5     zma  100383599    100383599  K00382   NP_001169718
 6     zma  100501719    100501719  K00382   NP_001183318
 7     zma  103650140    103650140  K00382   XP_008674009,
 'K00627':    species       gene  ncbi_geneid      ko ncbi_proteinid
 0      ath  AT1G34430       840346  K00627      NP_174703
 1      ath  AT1G54220       841863  K00627      NP_564654
 2      ath  AT3G13930       820606  K00627      NP_566470
 3      ath  AT3G25860       822181  K00627      NP_189215
 4      ath  AT3G52200       824385  K00627      NP_190788
 5      zma  100192900    100192900  K00627   NP_001131559
 6      zma  100272519    100272519  K00627   NP_001140460
 7      zma  100274483    100274483  K00627   NP_001142314
 8      zma  100279373    100279373  K00627   NP_001145861
 9      zma  100284493    100284493  K00627   NP_001150860
 10     zma  100285796    100285796  K00627   NP_001152158
 11     zma  103644210    103644210  K00627   XP_008665630
 12     zma     541781       541781  K00627   NP_001104936,
 'K00658':   species       gene  ncbi_geneid      ko ncbi_proteinid
 0     ath  AT4G26910       828798  K00658      NP_567761
 1     ath  AT5G55070       835598  K00658   NP_001330709
 2     zma  100280624    100280624  K00658   NP_001147014
 3     zma  100284269    100284269  K00658   NP_001150636,
 'K01610':   species       gene  ncbi_geneid      ko ncbi_proteinid
 0     ath  AT4G37870       829943  K01610      NP_195500
 1     ath  AT5G65690       836696  K01610   NP_001331433
 2     zma  100279748    100279748  K01610   NP_001146178
 3     zma     541622       541622  K01610   NP_001296837,
 'K01647':   species       gene  ncbi_geneid      ko ncbi_proteinid
 0     ath  AT2G42790       818879  K01647      NP_181807
 1     ath  AT2G44350       819042  K01647   NP_001324514
 2     ath  AT3G58740       825043  K01647      NP_191433
 3     ath  AT3G58750       825044  K01647      NP_191434
 4     ath  AT3G60100       825180  K01647      NP_191569
 5     zma  100194338    100194338  K01647   NP_001132846
 6     zma  100275174    100275174  K01647   NP_001340582
 7     zma  100279573    100279573  K01647   NP_001149070
 8     zma  100280203    100280203  K01647   NP_001347958,
 'K01648':   species       gene  ncbi_geneid      ko ncbi_proteinid
 0     ath  AT1G09430       837466  K01648      NP_172414
 1     ath  AT1G10670       837610  K01648      NP_172537
 2     ath  AT1G60810       842375  K01648   NP_001320572
 3     ath  AT3G06650       819845  K01648   NP_001326324
 4     ath  AT5G49460       835006  K01648   NP_001332247
 5     zma  100273868    100273868  K01648   NP_001141736
 6     zma  100282948    100282948  K01648   NP_001149325
 7     zma  100381760    100381760  K01648   NP_001348471
 8     zma  103635086    103635086  K01648   XP_020397968,
 'K01679':   species       gene  ncbi_geneid      ko ncbi_proteinid
 0     ath  AT2G47510       819364  K01679   NP_001324328
 1     ath  AT5G50950       835168  K01679      NP_199908
 2     zma  100279871    100279871  K01679   NP_001146296,
 'K01681':   species       gene  ncbi_geneid      ko ncbi_proteinid
 0     ath  AT2G05710       815120  K01681      NP_178634
 1     ath  AT4G26970       828805  K01681      NP_567763
 2     ath  AT4G35830       829737  K01681      NP_195308
 3     zma  100216599    100216599  K01681   NP_001304293
 4     zma  100281040    100281040  K01681   NP_001147431
 5     zma  100304277    100304277  K01681   NP_001348326
 6     zma  100304315    100304315  K01681   NP_001348335
 7     zma  103646899    103646899  K01681   XP_008669746
 8     zma  103647708    103647708  K01681   XP_008670444,
 'K01899':   species       gene  ncbi_geneid      ko ncbi_proteinid
 0     ath  AT5G08300       830726  K01899      NP_196447
 1     ath  AT5G23250       832389  K01899      NP_197716
 2     zma  100216609    100216609  K01899   NP_001136494
 3     zma  100283329    100283329  K01899   NP_001149702,
 'K01900':   species       gene  ncbi_geneid      ko ncbi_proteinid
 0     ath  AT2G20420       816561  K01900      NP_179632
 1     zma  100284286    100284286  K01900   NP_001150653
 2     zma  100284826    100284826  K01900   NP_001151193,
 'K25801':   species       gene  ncbi_geneid      ko ncbi_proteinid
 0     ath  AT2G46505       819261  K25801      NP_566077
 1     zma  100274754    100274754  K25801   NP_001183555
 2     zma  100277027    100277027  K25801   NP_001144172}

# parse by_ko files

In [17]:
by_ko = "/Users/daffa/Documents/Work/jspp67_bioinf/results/by_ko/K00052_kegg/K00052_kegg-01-pathway_genes_from_KEGG.txt"
outfile = "/Users/daffa/Documents/Work/jspp67_bioinf/results/by_ko/K00052_kegg/K00052_kegg-02-spgeneid.txt"

with open(by_ko, "r") as f:
    lines = f.readlines()
    lines.remove(lines[0])
    out = []
    for line in lines:
        sp = line.split('\t')[0]
        egi = line.split('\t')[2]
        new_line = ':'.join((sp, egi))
        out.append(new_line)

with open(outfile, 'w') as w:
    for line in out:
        w.write(f"{line}\n")

In [3]:
pepfile = "/Users/daffa/Documents/Work/jspp67_bioinf/data/reference/KEGG/sbi/T01086.pep"
from pathlib import Path
Path(pepfile).name

'T01086.pep'

In [6]:
pickle = Path('../../../results/gene_network/sbi_graph_annotated-z4_k10.pkl')

In [10]:
info = pickle.name.split('-')[1].split('.')[0]
minZ = info.split('_')[0].replace('z', '')
K = info.split('_')[1].replace('k', '')
print(K, minZ)

10 4